
  @import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
 
  @import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body {
  background-color: rgb(37, 30, 30);
  background-image: url("../images/bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1, h2, h3, p {
  color: white;
}

h1, h2, h3 {
  font-family: 'Monoton', cursive;
  font-weight: 800;
}

a:link,
a:visited {
  color:white;
}
a:hover {
  color: red;
  text-decoration: none; /* removes underline on link */
}

h1 {
  display: flex;
  justify-content: center;
  font-size: clamp(35px, 4vw, 80px);
}

h2 {
  font-size: clamp(30px, 4vw, 50px);
}

main, section, footer {
  border: 1px solid white;
  width: 90%;
  margin: 0 auto;
}

p {
  font-size: clamp(17px, 4vw, 23px);
  font-family: 'Space Mono', monospace;
}

section.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

section.container figure {
  margin: 0;
  padding: 0;
  margin-right: 15px;
}

section.container div {
  width: 33%;
}

section.container figure img {
  width: 100%;
  transition: transform 1.1s ease-in-out;
}

section.container figure img:hover {
  transform: scale(1.3);
  filter: drop-shadow(10px 10px 30px rgba(255, 255, 255, 0.2));
}

@media (max-width: 760px) {
  section.container {
    flex-direction: column;
  }

  section.container div {
    width: 100%;
    margin-bottom: 130px;
  }
  section.container figure img:hover {
    transform: scale(1);
  }
}

section.container figure summary {
  cursor: pointer;
}
/* changes pointer over links */

footer {
  display:flex;
  justify-content: center;
}